// app global css in SCSS form
::-webkit-scrollbar {
  width: 4px; /* width of the entire scrollbar */
}
::-webkit-scrollbar-track {
  background: rgb(255, 255, 255); /* color of the tracking area */
}
::-webkit-scrollbar-thumb {
  background-color: #cbcbcb; /* color of the scroll thumb */
  /* roundness of the scroll thumb */
  /* creates padding around scroll thumb */
}
